.ListOfOperations {
  padding-inline-start: 0px;
  .first-operation {
    font-size: 2em;
    margin: 15px;
  }
  .fail {
    text-decoration: red wavy line-through;
  }
  .success {
    color: green;
  }
  @media only screen and (max-width: 600px) {
    li {
      display: none;
    }
    .first-operation,
    .show-response {
      display: block;
    }
  }
}
