.App {
  a {
    color: grey;
  }
  ul {
    list-style: none;
  }
  text-align: center;
  .container {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    article {
      width: 50%;
    }
  }
  .separation {
    border: 1px solid black;
  }
  .hidden {
    display: none;
  }
  @media only screen and (max-width: 600px) {
    .switch-view {
      flex-direction: column-reverse;
      article {
        margin: 50px 0px;
        width: 100%;
      }
    }
  }
}
